<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>My Page</title>
</head>
<body>
<header>
  <div th:replace="header :: siteHeader"></div>
</header>
<main>
  <h2 th:text="${board.title}">Board List</h2>
  <p th:text="${board.content}">Board List</p>

  <a th:href="@{/boards/put/{id}(id=${board.id})}">수정</a>
  <form th:action="@{/boards/delete/{id}(id=${board.id})}" method="post">
    <button type="submit">삭제</button>
  </form>
</main>
</body>
</html>
