<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>
<header>
    <div th:replace="header :: siteHeader"></div>
</header>
<main>
    <h2>Write</h2>
    <form th:action="@{/boards/put/{id}(id=${board.id})}" method="post">
        <input th:value="${board.title}" type="text" style="width: 300px;" name="title"/><br/>
        <textarea th:text="${board.content}" style="width: 300px;" rows="20" name="content"></textarea><br/>
        <input type="submit" value="작성">
    </form>
</main>
</body>
</html>
