body {
    background-color: rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 350px;
    height: 450px;
    padding: 40px;
    background-color: white;
}


.title {
    font-size: 30px;
}

.subtitle {
    font-size: 17px;
}


.input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}


.name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.name > .a {
    margin-right: 10px;
}

.name > .b {
    margin-left: 10px;
}


.button {
    float: right;
    width: 120px;
    height: 30px;
    background-color: rgb(253, 196, 12);
    color: white;
    border: none;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(216, 177, 48);
}